body {
 background-color: rgb(40, 40, 40);
 font-family: 'Eczar', serif;
 color: rgb(255, 129, 0);
}

.mini {
  font-size: 1em;
  color: rgb(21, 171, 0);
  line-height: 9em;
  text-indent: 2.5em;
  position: absolute;
  left: 56%;
  top: 50%;
}

.mega, .bola {
  line-height: 1.65em;
  font-weight: bold;
  font-size: 12em;
  color: rgb(21, 171, 0);
  font-family: 'Eczar', serif;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.boom {
	color: rgb(21, 171, 0);
}
