//COMPILE

@import 'lib/skills/skill';
@import 'lib/cards/card';

@import './extra_styles/colors';
@import './extra_styles/loader';
@import './extra_styles/background';
@import './extra_styles/bouncing-button';
@import './extra_styles/exploding-cube';

@mixin scrollbar() {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $main-orange;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $grey;
  }
}

.transparent,
%transparent {
  opacity: 0;
}

.fullscreen,
%fullscreen {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

strong {
  color: $main-orange;
}

.slider {
  @extend %fullscreen;
  @extend %transparent;
  overflow: hidden;
  text-align: center;
}

.slides {
  @include scrollbar();
  align-items: flex-start;
  display: flex;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: x mandatory;

  > div {
    @include scrollbar();
    background: transparent;
    color: rgba($white, .8);
    flex: 0 0 auto;
    flex-shrink: 0;
    font-size: 2rem;
    height: 100%;
    margin-right: 50px;
    overflow-y: auto;
    scroll-snap-align: start;
    text-shadow: 0 0 10px $black;
    transform-origin: center center;
    transition: all transform .5s;
    width: 100%;
  }
}

.page-head {
  color: rgba($main-orange, .8);
  margin: 4rem 0 2rem;
  text-transform: uppercase;
  width: 100%;
}

.aboutme {
  text-align: left;
}

.contact {
  text-align: right;
}

.grid-container,
.grid-item-auto-size {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;

  > .grid-item {
    background: rgba($white, .2);
    border: 2px solid rgba($white, .08);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem 0 0;

    > .animated {
      transform: scale(1);
      transition: .4s ease-in-out;

      &:hover {
        border: 2px solid $transparent;
        box-shadow: 0 0 15px 5px rgba($white, .6);
        cursor: default;
        transform: scale(1.05);
      }
    }
  }

  > a.grid-item:hover {
    cursor: pointer;
  }
}

.exp-grid-container {
  display: grid;
  grid-template-columns: auto;

  > .exp-grid-item {
    background: rgba($white, .2);
    border: 2px solid rgba($white, .08);
    border-radius: 5px;
    display: flex;
    margin: 1rem;
    padding: 1rem;

    > .experience {
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      > .exp-title {
        font-weight: 600;
        text-decoration: underline;
        color: rgba($main-orange, .8)
      }

      > .exp-date {
        text-align: left;
      }

      > .exp-detail {
        text-align: left;
      }
    }

    > .image {
      width: 15%;

      > img {
        height: 100%;
        width: 100%;
      }
    }
  }

  > .exp-grid-item.right {
    justify-content: space-between;

    > .image {
      margin-left: 1rem;
    }
  }

  > .exp-grid-item.left {
    justify-content: flex-start;

    > .image {
      margin-right: 1rem;
    }
  }

  > a.grid-item:hover {
    cursor: pointer;
  }
}

@media all and (min-width: 2000px) {
  .page-head {
    font-size: 4rem;
  }

  .slides > div {
    font-size: 2.5rem;
    padding: 0 5.3rem 4rem;
  }

  #projects {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
  }

  .grid-item {
    width: 30vw;
  }

  .experience {
    > .exp-title {
      font-size: 4rem;
    }

    > .exp-date {
      font-size: 2.5rem;
    }

    > .exp-detail {
      font-size: 2rem;
    }
  }
}

@media all and (max-width: 1999px) and (min-width: 1200px) {
  .page-head {
    font-size: 4rem;
  }

  .slides > div {
    font-size: 2rem;
    padding: 0 5.3rem 4rem;
  }

  #projects {
    padding: 0;
  }

  .grid-item {
    width: 45vw;
  }

  .experience {
    > .exp-title {
      font-size: 3.5rem;
    }

    > .exp-date {
      font-size: 1.65rem;
    }

    > .exp-detail {
      font-size: 1rem;
    }
  }
}

@media all and (max-width: 1199px) and (min-width: 960px) {
  .page-head {
    font-size: 4rem;
  }

  .slides > div {
    font-size: 2rem;
    padding: 0 5.3rem 4rem;
  }

  #projects {
    padding: 0;
  }

  .grid-item {
    width: 45vw;
  }

  .experience {
    > .exp-title {
      font-size: 2.5rem;
    }

    > .exp-date {
      font-size: 1.1rem;
    }

    > .exp-detail {
      font-size: .75rem;
    }
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  .page-head {
    font-size: 3rem;
  }

  .slides > div {
    font-size: 1.5rem;
    padding: 0 4rem 4rem;
  }

  #projects {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .grid-item {
    width: 85vw;
  }

  #experiences {
    padding: 0;
  }

  .image {
    width: 30% !important; //help me :(
  }

  .experience {
    > .exp-title {
      font-size: 2rem;
    }

    > .exp-date {
      font-size: .9rem;
    }

    > .exp-detail {
      font-size: .9rem;
    }
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  .page-head {
    font-size: 2rem;
  }

  .slides > div {
    font-size: 1rem;
    padding: 0 2.6rem 4rem;
  }

  #projects {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .grid-item {
    width: 85vw;
  }

  .exp-grid-item {
    flex-direction: column;

    > .experience {
      order: 1;

      > .exp-title {
        font-size: 1.45rem;
        text-align: justify;
      }

      > .exp-date {
        font-size: 1.1rem;
        text-align: justify;
      }

      > .exp-detail {
        font-size: 1rem;
        text-align: justify;
      }
    }

    > .image {
      left: 0;
      margin: 0 !important;
      order: 0;
      position: relative;
      top: 0;
      width: 100% !important;
    }
  }
}
