@import './colors';

.loader {
  @extend %fullscreen;
  align-content: center;
  background: $black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loading-label {
  // https://codepen.io/FrankieDoodie/pen/dgVGad
  animation: sliding-fade-text 6s linear infinite;
  background: linear-gradient(90deg, $black, $main-orange, $black);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-size: 80%;
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
  margin-bottom: 5.0625em;
  overflow: hidden;
  -webkit-text-fill-color: $transparent;
  text-transform: uppercase;
}

@keyframes sliding-fade-text {
  from {
    background-position: -500%;
  }

  to {
    background-position: 500%;
  }
}
