* {
  box-sizing: border-box;
}

a:link {
  color: rgb(255, 102, 102);
}

a:visited {
  color: rgb(255, 102, 102);
}

a:active {
  color: rgb(255, 102, 0);
}

.slider {
  text-align: center;
  overflow: hidden;
  opacity: 0;
}

.slides {
  height: 100%;
  display: flex;
  align-items:flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
}

.slides::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.slides::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 200, 45);
}

.slides::-webkit-scrollbar-track {
  background:#444444;
}

.snap {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.page-head {
  width:100%;
  color:rgba(255, 200, 45, 0.8);
  margin: 4rem 0rem 2rem 0rem;
  text-transform: uppercase;
}

.slides > div {
  height: 100%;
  flex: 0 0 auto;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  margin-right: 50px;
  background: transparent;
  color:rgba(255, 255, 255, 0.9);
  transform-origin: center center;
  transition: transform 0.5s;
  font-size: 2rem;
  overflow-y: auto;
}

.aboutme {
  text-align: left;
}

.contact {
  text-align: right;
}

.slides > div::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.slides > div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 200, 45);
}

.slides > div::-webkit-scrollbar-track {
  background:#444444;
}

.stars {
  /*https://codepen.io/WebSonick/pen/vjmgu*/
  background:transparent url('stars.png') repeat top center;
}

.background-stripes {
  /*background-image:url('background.jpg');*/
  background-color: rgb(10, 10, 10);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, black 5px, black 10px);
}

.background-filter {
  position:fixed;
  width:120%;
  height:100%;
  background-image: radial-gradient(transparent 0, transparent, transparent, transparent, black, black, black 100%);
}

.transparent {
  opacity: 0;
}

img {
  max-width:600px;
  max-height:600px;
  width: auto;
  height: auto;
}

html, body, .wrapper {
  height: 100%;
  overflow: hidden;
  background: black;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  width:100%;
  margin:0;
}

.cube {
  margin:auto auto 4.5em auto;
  font-size: 1.5em;
  height: 3em;
  width: 3em;
  position: relative;
  transform: rotatex(30deg) rotatey(45deg);
  transform-style: preserve-3d;
  animation: cube-spin 3s infinite ease-in-out alternate;
}

.side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
}

.side::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: cube-explode 6s infinite ease-in-out;
  opacity: .5;
  background: rgb(255, 200, 45);
}

.side:nth-child(1) {
  transform: rotatey(90deg);
}

.side:nth-child(2) {
  transform: rotatey(180deg);
}

.side:nth-child(3) {
  transform: rotatey(270deg);
}

.side:nth-child(4) {
  transform: rotatey(360deg);
}

.side:nth-child(5) {
  transform: rotatex(90deg);
}

.side:nth-child(6) {
  transform: rotatex(270deg);
}

@keyframes cube-spin {
  0% {
    transform: rotatex(30deg) rotatey(405deg);
  }
  100% {
    transform: rotatex(30deg) rotatey(45deg);
  }
}

@keyframes cube-explode {
  from {
    transform: translatez(0.15em) scale(0.1);
  }
  25% {
    transform: translatez(1.5em) scale(1);
  }
  50% {
    transform: translatez(4.5em);
  }
  75% {
    transform: translatez(1.5em);
  }
  to {
    transform: translatez(0.15em) scale(0.1);
  }
}

.loader {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
	align-content:center;
	text-align:center;
	display:flex;
  flex-direction: column;
  background: black;
}

.loading-label {
  /*https://codepen.io/FrankieDoodie/pen/dgVGad*/
  margin-bottom: 10.0625em;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, black, rgb(255, 200, 45), black);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: sliding-fade-text 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes sliding-fade-text {
  from {
    background-position: -500%;
  }
  to {
    background-position: 500%;
  }
}

a.translucent-button {
  /*https://fdossena.com/?p=html5cool/buttons/i.frag*/
   display: inline-block;
   border: 0.1rem solid rgba(255, 255, 255, 0.9);
   padding: 0.35rem 1.2rem;
   margin: 0 0.3rem 0.3rem 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   color: rgba(255, 200, 45, 0.8);
   background-color: rgba(10, 10, 10, 0.5);
   text-align: center;
   transition: all 0.6s;
}

a.translucent-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.4);
}

.bouncy {
  /*https://fdossena.com/?p=html5cool/buttons/i.frag*/
  animation: bounce 5s infinite linear;
  position: relative;
}

@keyframes bounce {
  0%{top: 0rem}
  40%{top: 0rem}
  43%{top: -0.9rem}
  46%{top: 0rem}
  48%{top: -0.4rem}
  50%{top: 0rem}
  100%{top: 0rem}
}

.quote-div {
  color: black;
  background: rgba(192, 192, 192, 0.8);
  border-left: 16px solid rgb(192, 192, 192);
  box-shadow: 0 0 15px 10px  rgba(255, 255, 255, 0.25);
}

.quote {
  position: relative;
  font-size: 80%;
  font-weight: 300;
  padding: 35px 10px 0px 10px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.quote::before {
  position: absolute;
  top: -15px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  content: "“";
  font-size: 400%;
  color: rgba(60, 60, 60, 0.4);
}

.author {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.grid-item {
  width: 40rem;
  padding: 1rem 0 1rem 0;
  margin: 1rem 1rem 1rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255, 0.08);
  transition: 0.4s ease-in-out;
  transform: scale(1);
}

.grid-item:hover {
  cursor: default;
  border: 1px solid rgb(0, 0, 0, 0);
  box-shadow: 0 0 15px 5px rgb(255, 255, 255, 0.6);
  transform: scale(1.1);
}

a.grid-item:hover {
  cursor: pointer;
}

@media all and (min-width: 2000px) {
    .page-head{
        font-size: 4rem;
    }
    .slides > div {
        font-size: 2.5rem;
        padding: 0rem 5.3rem 4rem 5.3rem;
    }
    .grid-container {
      grid-template-columns: auto auto auto;
    }
    .grid-item {
      width: 30vw;
    }
}

@media all and (max-width: 1999px) and (min-width: 1200px) {
    .page-head{
        font-size: 4rem;
    }
    .slides > div {
        font-size: 2rem;
        padding: 0rem 5.3rem 4rem 5.3rem;
    }
    .grid-item {
      width: 45vw;
    }
}

@media all and (max-width: 1199px) and (min-width: 960px) {
    .page-head{
        font-size: 4rem;
    }
    .slides > div {
        font-size: 2rem;
        padding: 0rem 5.3rem 4rem 5.3rem;
    }
    .grid-item {
      width: 45vw;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    .page-head{
        font-size: 3rem;
    }
    .slides > div {
        font-size: 1.5rem;
        padding: 0rem 4rem 4rem 4rem;
    }
    .grid-container {
      grid-template-columns: auto;
    }
    .grid-item {
      width: 85vw;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .page-head{
        font-size: 2rem;
    }
    .slides > div {
        font-size: 1rem;
        padding: 0rem 2.6rem 4rem 2.6rem;
    }
    .grid-container {
      grid-template-columns: auto;
    }
    .grid-item {
      width: 85vw;
    }
}
