a:link
{
	color: rgb(255,102,102);
}
a:visited
{
	color: rgb(255, 102, 102);
}
a:active
{
	color: rgb(255,102,0);
}
html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	font-family: 'Eczar', serif;
	overflow:hidden;
	background:#000000
}
h1
{
	font-family: 'Eczar', serif;
	color: rgb(255,200,45);
}